/*颜色*/
$title_color:#000000;
$content_color:#7f7f7f;
$color_orange_light:#febb77;
$color_orange_dark:#ff6600;
$color_form_border:#CECECE;
$color_green-ft:#009393;
$color_green_turquoise:#009393;
$btn_turquoise-bg-color:$color_green_turquoise;

$color-free:#468848;
$color-working:#FE0000;
$color-rest:#B2B2B2;