@import "./base/_global";
@import "./mixins/_m-global";
@import "./layouts/l-page";
@import "./base/rest_layui";




.g-p--10{
  padding:10px;
}
.g-ta--r{
  text-align: right;
}
.g-d--i-b{
  display: inline-block;
}
.g-m--0{
  margin:0;
}

