@import "./base/_global";
@import "./mixins/_m-global";
@import "./layouts/l-page";
@import "./base/rest_layui";




.g-p--10{
  padding:10px;
}
.g-ta--r{
  text-align: right;
}
.g-d--i-b{
  display: inline-block;
}
.g-m--0{
  margin:0;
}

.iconfont.p-icon--account{
  font-size:100px;
  line-height: 100px;
  color:#888888;
}
/*奖金查询*/
.p-bonus-box{
  border: 1px solid #DDD;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content:space-between;
  max-width:600px;
  dd{
    padding-top: 5px;
    font-weight: bold;
  }
}
.p-bonus_user{
  font-size: 14px;
  dd{
    padding-top:10px;
    font-size: 20px;
  }
}
.p-bonus_total{
  text-align: center;
  dl{
    font-size: 16px;
    color: #666666;
    font-weight: bold;
  }
  dd{
    font-size: 28px;
    color: #EC5F41;
  }
}
.p_bonus_btn{
  .layui-btn{
    margin-top:10px;
  }
}
.p-card--bonus{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  dd{
    padding-top: 5px;
    font-weight: bold;
  }
}