
.text-overflow-ht--e p {
  position:relative;
  line-height:1.4em;
  /* 3 times the line-height to show 3 lines */
  height:4.2em;
  overflow:hidden;
}



.g-pt--5{
  padding-top:.25rem;
}
.g-p--10{
  padding:.5rem;
}
.g-pt--10{
  padding-top:.5rem;
}
.g-pt--20{
  padding-top:1rem;
}
.g-pb--5{
  padding-bottom:.25rem;
}
.g-pb--10{
  padding-bottom:.5rem;
}
.g-pb--20{
  padding-bottom:1rem;
}
.g-pl--5{
  padding-left:.25rem;
}
.g-pr--5{
  padding-right:.5rem;
}
.g-pl--10{
  padding-left:.5rem;
}
.g-pr--10{
  padding-right:.5rem;
}
.g-m--0{
  margin:0;
}
.g-mb--5 {
  margin-bottom: .25rem;
}
.g-mb--10 {
  margin-bottom: .5rem;
}

.g-mb--15 {
  margin-bottom: .75rem;
}

.g-mb--20 {
  margin-bottom: 1rem;
}
.g-mr--5{
  margin-right:.25rem;
}
.g-mr--10{
  margin-right:10px;
}
.g-mr--15{
  margin-right:15px;
}
.g-mt--5{
  margin-top:.25rem;
}
.g-mt--10{
  margin-top:.5rem;
}
.g-mt--15{
  margin-top:.75rem;
}
.g-mt--20{
  margin-top:1rem;
}
.g-mt--40{
  margin-top:2rem;
}
.g-ml--5{
  margin-left:.25rem;
}
.g-ml--10{
  margin-left:.5rem;
}
.g-ml--20{
  margin-left:1rem;
}
.g-f--l{
  float:left;
}
.g-f--r{
  float:right;
}
.g-t-a--r,.g-ta--r{
  text-align: right;
}
.g-v-a--t{
  vertical-align: top;
}
.g-v-a--m{
  vertical-align: middle;
}
/*display------------------------------------------------------------------------------------------*/
.g-dp--b{
  display:block;
}
/*font-------------------------------------------------------------------------------------*/
.g-fs--12{
  font-size: .6rem;
}
.g-fs--14{
  font-size: .7rem;
}
.g-fs--16{
  font-size: .8rem;
}
.g-fs--18{
  font-size: .9rem;
}
.g-fs--20{
  font-size: 1rem;
}
/*color--------------------------------------------------------------------------------*/
.g-c-yellow,
.g-c--yellow{
  color:#FFBF00;
}
.g-c--danger,
.g-c--red{
  color:#E62B4A;
  &>.m-td_title{
    color:#E62B4A;
  }
}
.g-c-blue--light{
  color:#24ADDE;
}
.g-c--dark-yellow,
.g-c--warn{
  color:#F7C35B;
}
.g-c--dark-blue{
  color:#73A2E1;
}
.g-c--light-red{
  color:#F77766;
}
.g-c--success,
.g-c--green{
  color:#37BF3F;
}
.g-c--dark-green{
  color:#025E21;
}
.g-c--orange{
  color:#ff6600;
}
.g-c--orange-light{
  color:#EFA46E;
}
.g-c--disabled,
.g-c--gray{
  color:#999;
}
/*color------------------------------------------------------------------------*/
.g-bg-c--w{
  background-color:#fff;
}

.g-t-a--c,.g-ta--c{
  text-align: center;
}
.g-t-a-l,.g-ta--l{
  text-align: left;
}

.dropdown-menu{
  display:none;
}
.on,.g-show{
  display:block;
}
.g-hide,.g-hidden{
  display:none;
}

.g-va--m{
  vertical-align: middle;
}
/*辅助元素*/
.m-hr{
  border:none;
  border-bottom:1px solid #ddd;
}
.m-hr--white{
  border-bottom:1px solid #fff;
}
.g-text-comment,
.g-text--comment{
  font-size: 13px;
  color: #888888;
}
/*图片*/
.g-img-circle{
  border-radius:50%;
}
.g-img-bordered{
  border:2px solid #ddd;
  &.m-ranking_avatar{
    border-width:1px;
  }
}
.g-hr{
  border:none;
  border-top:1px solid #CECECE;
  width:100%;
  display:block;
  margin:{
    top:.5rem;
    bottom:.5rem;
  }
  &.g-hr--dashed{
    border-top-style: dashed;
  }
}
.g-p_strong{
  margin:{
    left:3px;
    right:3px;
  }
  font-weight:600;
}
.g-p-help{
  color:#d6d6d6;
  font-size:80%;
  @at-root .weui-cell .g-p-help{
    color:#d6d6d6;
  }
  &.g-c--gray{
    color:#999;
  }
  @at-root .weui-cell &.g-c--gray{
    color:#999;
  }
}
.g-overflow-wrap-y{
  overflow-y: auto;
  height:100%;
}
.g-wb--ba{
  word-break: break-all;
}